app:
  kafka-configs:
    bootstrap-servers: localhost:9093
    kafka-consumer-group: keyword-extractor
    pages-topic-name: pages
    keywords-topic-name: keywords
  keyword-extractor-configs:
    in-memory-page-queue-size: 100
    in-memory-page-keywords-queue-size: 100
    max-keywords-per-page: 10
    discarded-character-sequences:
      - "?"
      - "?"
  yake-service-configs:
    base-uri: "http://localhost:5000/yake"
    client-connect-timeout-millis: 10000
    client-read-timeout-millis: 10000
    language: "en"
    max-ngram-size: 1
    max-number-of-keywords: 20
